.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
}

.loader {
    border: 8px solid var(--bg-light);
    border-top: 8px solid var(--secondary);
    border-radius: 50%;
    width: 70px;
    aspect-ratio: 1;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(100deg);
    }

    65% {
        transform: rotate(200deg);
    }

    100% {
        transform: rotate(360deg);
    }
}