*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #202020;
  --bg-dark: #121212;
  --bg-light: #313131;
  --primary: #eee;
  --secondary: #FC1503;
  --secondary-variant: rgba(252, 21, 3, 0.5);
  --light: rgba(255, 255, 255, 0.6);

  --padding: 5px;
  --padding2: calc(var(--padding) * 2);
  --padding3: calc(var(--padding) * 3);
  --padding4: calc(var(--padding) * 4);
  --padding5: calc(var(--padding) * 5);
  --padding6: calc(var(--padding) * 6);

  --transition: all 250ms ease;
}

body {
  font-family: 'Roboto', 'sans-serif';
  background-color: var(--bg);
  color: var(--primary);
}

.page {
  padding-top: 9vh;
}

a {
  color: var(--secondary);
}

.g2 {
  gap: var(--padding2);
}

.g3 {
  gap: var(--padding3);
}

.g4 {
  gap: var(--padding4);
}

.flex {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.red {
  color: var(--secondary);
}

/* ---- SCROLLBAR ---- */
::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}